<div class="campaign">
  <div class="title">
    <h1><i class="material-icons">home</i>&emsp;Campaigns</h1>
  </div>

  <div class="campaign-info">
    <table>
      <thead>
        <tr>
          <th>Track</th>
          <th>Popularity</th>
          <th>Campaigns</th>
          <th>Release Date</th>
          <th>New Campaign</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="material-icons">account_circle</i> Username</td>
          <td>50%</td>
          <td>9</td>
          <td>26 Jun 2019</td>
          <td>ACTIVE</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
