<div class="w3-theme">
  <ul>
    <li class="user">
      <i class="material-icons">account_circle</i>
      <p>Username</p><br>
      <h2>Curator</h2>
    </li>
    <li> <a routerLink="/curator/dashboard">Dashboard&emsp;<i class="material-icons">dashboard</i></a> </li>
    <li> <a routerLink="/curator/toreview">To Review&emsp;<i class="material-icons">trending_up</i></a> </li>
    <li> <a routerLink="/curator/history">History&emsp;<i class="material-icons">description</i></a> </li>
    <li> <a routerLink="/curator/playlists">Playlists&emsp;<i class="material-icons">group_add</i></a> </li>
    <li> <a routerLink="/curator/balance">Balance&emsp;<i class="material-icons">account_balance_wallet</i></a> </li>
    <li> <a routerLink="/curator/faq">FAQ&emsp;<i class="material-icons">contact_support</i></a> </li>
  </ul>
</div>
