$text-color: #edeff2;
$faded-purple: #CE6DDF;
$cyan: #12E3FF;
$faded-pink: #F279A1;
$pale-dark: #232a35;

.options{
  border-bottom: 0.1em solid #edeff2;
  padding: 0 0 0 0;
  a{
    color: $text-color;
    text-decoration: none;
    margin: 0 20px 0 0;
    text-transform: uppercase;
  }
}

.fields{
  height: 50vh;
}
