$text-color: #edeff2;
$faded-purple: #CE6DDF;
$cyan: #12E3FF;
$faded-pink: #F279A1;
$pale-dark: #232a35;
$dark-green: #0a990c;
$blue-green: #35b28a;

.playlists{
  background-color: $pale-dark;
  height: 80vh;
  margin: 5% 5% 5% 5%;
  padding: 10px;
  border-radius: 5px;
  .head{
    h1{
      float: right;
      color: $blue-green;
    }
  }
  .songs{
    table{
      width: 100%;
      thead{
        tr{
          th{
            text-align: left;
          }
        }
      }
      tbody{
        tr{
          td:first-child{
            i{
              float: left;
              font-size: 40px;
            }
            a{
              color: inherit;
            }
            ul{
              list-style: none;
              display: block;
              margin: 0;
              padding: 0;
              li{
                display: inline-block;
                margin: 0 2px 0 2px;
                padding: 2px;
                border-radius: 3px;
                background-color: $faded-pink;
              }
            }
          }

          td:last-child{
            i{
              color: $dark-green;
            }
          }
        }
      }
    }
  }
}
