<div class="playlists">
  <div class="head">
    <h1>Your Playlists</h1><br><br>
    <p>In order to qualify, a playlist need to:</p>
    <ul>
      <li>Have a minimum of 400 followers</li>
      <li>More than 1% of the followers needs to be actively listening.(with a minimum of 15 monthly listeners for smaller playlists)</li>
      <li>Have a genre set</li>
    </ul>
  </div>

  <div class="songs">
    <table>
      <thead>
        <tr>
          <th>PLAYLIST</th>
          <th>FOLLOWERS</th>
          <th>TRACKS</th>
          <th>QUALIFIES</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="material-icons">play_circle_filled</i> <a routerLink="#">Fresh Discovery</a><br>
          <ul>
            <li>LATIN POP</li>
            <li>TOP 40</li>
            <li>EDM</li>
            <li>POP</li>
          </ul>
          </td>
          <td>3.5K</td>
          <td>42</td>
          <td><i class="material-icons">done</i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
