<div class="w3-theme">
  <ul>
    <li class="user">
      <i class="material-icons">account_circle</i>
      <p>Username</p>
    </li>
    <li> <a routerLink="/artist/dashboard"><i class="material-icons">dashboard</i>&emsp;Dashboard</a> </li>
    <li> <a routerLink="/artist/campaign"><i class="material-icons">trending_up</i>&emsp;Campaigns</a> </li>
    <li> <a routerLink="#"><i class="material-icons">description</i>&emsp;Results</a> </li>
    <li> <a routerLink="#"><i class="material-icons">group_add</i>&emsp;Referrals</a> </li>
    <li> <a routerLink="#"><i class="material-icons">account_balance_wallet</i>&emsp;Balance</a> </li>
    <li> <a routerLink="/artist/faq"><i class="material-icons">contact_support</i>&emsp;FAQ</a> </li>
  </ul>
</div>
