<div class="w3-theme">
  <ul>
    <li class="user">
      <i class="material-icons">account_circle</i>
      <p>Username</p><br>
      <h2>Artist</h2>
    </li>
    <li> <a routerLink="/artist/dashboard">Dashboard&emsp;<i class="material-icons">dashboard</i></a> </li>
    <li> <a routerLink="/artist/campaign">Campaigns&emsp;<i class="material-icons">trending_up</i></a> </li>
    <li> <a routerLink="/artist/results">Results&emsp;<i class="material-icons">description</i></a> </li>
    <li> <a routerLink="/artist/referrals">Referrals&emsp;<i class="material-icons">group_add</i></a> </li>
    <li> <a routerLink="/artist/balance">Balance&emsp;<i class="material-icons">account_balance_wallet</i></a> </li>
    <li> <a routerLink="/artist/faq">FAQ&emsp;<i class="material-icons">contact_support</i></a> </li>
  </ul>
</div>
