<div class="dash">
  <div class="title">
    <h1><i class="material-icons">home</i>&emsp;Dashboard</h1>
  </div>

  <div class="stats">
    <div class="followers">
      <h2>Spotify Followers&emsp;<i class="material-icons">hearing</i></h2>
      <p>1234</p>
      <p>Increased by 10%</p>
    </div>

    <div class="playlists">
      <h2>Playlists&emsp;<i class="material-icons">whatshot</i></h2>
      <p>18</p>
    </div>

    <div class="reviews">
      <h2>Awaiting Review&emsp;<i class="material-icons">playlist_play</i></h2>
      <p>7</p>
    </div>
  </div>

  <div class="graphs">
    <app-stats></app-stats>
  </div>

  <div class="recent">
    <h2>Recent Campaigns</h2>
    <table>
      <thead>
        <tr>
          <th>Task</th>
          <th>Comments</th>
          <th>Status</th>
          <th>Last Update</th>
          <th>Tracking ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="material-icons">account_circle</i> Username</td>
          <td>Funds not received</td>
          <td>DONE</td>
          <td>25 June 2018</td>
          <td>WD-12344</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
