/* You can add global styles to this file, and also import other style files */
$text-color: #edeff2;
$faded-purple: #CE6DDF;
$cyan: #12E3FF;
$faded-pink: #F279A1;
$pale-dark: #232a35;
$dark-green: #0a990c;

body{
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
  color: $text-color;
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
}

.btn{
  padding: 10px 20px 10px 20px;
  border: 0;
  margin: 5px 0 5px 0;
  border-radius: 5px;
  color: $text-color;
}

.btn-success{
  background-color: $dark-green;
}

input[type="text"],input[type="email"],input[type="password"]{
  line-height: 30px;
  border: 0;
  border-radius: 5px;
}

label{
  font-weight: bold;
}
