/* You can add global styles to this file, and also import other style files */
$text-color: #edeff2;
$faded-purple: #CE6DDF;
$cyan: #12E3FF;
$faded-pink: #F279A1;

body{
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
  color: $text-color;
}

.container{
  display: grid;
  grid-template-columns: 25% 75%;
  height: 100vh;
}
