$text-color: #edeff2;
$faded-purple: #CE6DDF;
$cyan: #12E3FF;
$faded-pink: #F279A1;
$pale-dark: #232a35;
$green: #23AD01;

.wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url('../../images/5b30cfffef3f5a05460f.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .main-nav{
    ul{
      list-style: none;
      display: block;
      li{
        display: inline-block;
        a{
          display: block;
          text-decoration: none;
          color: inherit;
          font-size: 30px;
          font-style: italic;
          padding: 0 20px 3px 0;
          border-bottom: 10px solid $pale-dark;
          margin: 0 10% 0 0;
        }
        a:hover{
          color: $green;
        }
      }
    }
  }

  .auth{
    background-image: url('../../images/b6b2f2864fd1f2258d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    width: 50%;
    margin: 7% 0 0 25%;
    padding: 0 20px 10px 20px;
    border-radius: 5px;
  }

  .active{
    border-bottom: 10px solid $green;
  }
}
