$text-color: #edeff2;
$faded-purple: #CE6DDF;
$cyan: #12E3FF;
$faded-pink: #F279A1;
$pale-dark: #292c30;
$white: #eee;

.dash{
  .title{
    display: flex;
    flex: 100%;
    margin: 10px 20px 10px 20px;
  }

  .stats{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
    padding: 15px 10px 15px 15px;

    div{
      padding: 10px;
      border-radius: 5px;
    }

    p{
      font-size: 20px;
    }

    .followers{
      background-color: $cyan;
    }

    .popularity{
      background-color: $faded-pink;
    }

    .playlist{
      background-color: $faded-purple;
    }
  }

  .recent{
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: $white;
    color: $pale-dark;
    table{
      width: 100%;
      td{
        text-align: center;
      }
    }
  }

  .graphs{
    margin: 10px 20px 10px 20px;
    border-radius: 5px;
  }
}
